@model Turns.Models.Turn

@{
    ViewBag.Title = "Test";
}

<div class="row">
    <div class="col s6">
        <label asp-for="DoctorId">Doctor</label>
        <select asp-for="DoctorId" asp-items="ViewBag.DoctorId"></select>
    </div>
      <div class="col s6">
        <label asp-for="PatientId">Patient</label>
        <select asp-for="PatientId" asp-items="ViewBag.PatientId"></select>
    </div>
</div>
<br>
<div id="HoursCalendar"></div>

<link href="~/fullcalendar/fullcalendar.css" rel="stylesheet"/>
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print"/>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/fullcalendar/locale/en-gb.js"></script>
    <script>
        $(document).ready(function (){
            $('#HoursCalendar').fullCalendar({
                
            })
        })
    </script>
}
