@model Turns.Models.Patient

<h4>Patient</h4>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName"/>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>