@model Shifts.Models.Shift
@Html.AntiForgeryToken();

@{
    ViewBag.Title = "Assign Shifts";
}

<div class="row">
    <div class="col s6">
        <label asp-for="DoctorId">Doctor</label>
        <select asp-for="DoctorId" asp-items="ViewBag.DoctorId"></select>
    </div>
    <div class="col s6">
        <label asp-for="PatientId">Patient</label>
        <select asp-for="PatientId" asp-items="ViewBag.PatientId"></select>
    </div>
</div>
<br>

<div id="ModalShift" class="modal">
    <div class="modal-content">
        <h4>Shift</h4>
        <form>
            <div>
                <label>Start</label>
                <input type="text" id="txtWorkingTimeFrom" readonly="readonly" />
            </div>
            <div>
                <label>End</label>
                <input type="text" id="txtWorkingTimeTo" readonly="readonly" />
            </div>
            <div>
                <label>Patient</label>
                <input type="text" id="txtPatient" readonly="readonly" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnDelete" class="modal-close waves-effect waves-red btn-flat">Delete</a>
        <a href="#" id="btnSave" class="modal-close waves-effect waves-green btn-flat">Save</a>
        <a href="#" id="btnClose" class="modal-close waves-effect waves-grey btn-flat">Close</a>
    </div>
</div>

<div id="ShiftsCalendar"></div>

<link href="~/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/fullcalendar/locale/en-gb.js"></script>
    <script>
        $(document).ready(function () {
            var shifStart = "";
            var shiftEnd = "";
            var shifts = [];

            function GetShiftsAndUpdate(doctorId) {
                shifts = [];
                $.ajax({
                    type: "GET",
                    url: "Shifts/GetShifts",
                    data: {
                        'doctorId': doctorId,
                        success: function (data) {
                            $.each(data, function (i, v) {
                                shifts.push({
                                    shiftId: v.shiftId,
                                    patientId: v.patientId,
                                    doctorId: v.doctorId,
                                    start: moment(v.dateTimeStart),
                                    end: v.dateTimeEnd != null ? moment(v.dateTimeEnd) : null,
                                })
                            })
                        }
                    }
                })
            }

            function GenerateCalendar(shifts) {

                $.ajax({
                    type: "GET",
                    url: "Doctor/SetWorkingTimeFrom",
                    data: { "doctorId": $('#DoctorId').val() },
                    async: false,
                    success: function (result) {
                        shifStart = result;
                    },
                    error: function () {
                        alert("Something went wrong when tried to load shift start!");
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "Doctor/SetWorkingTimeTo",
                    data: { "doctorId": $('#DoctorId').val() },
                    async: false,
                    success: function (result) {
                        shiftEnd = result;
                    },
                    error: function () {
                        alert("Something went wrong when tried to load shift end!");
                    }
                });

                $('#ShiftsCalendar').fullCalendar('destroy');

                $('#ShiftsCalendar').fullCalendar({
                    contentHeight: 'auto',
                    defaultDate: new Date(),
                    slotLabelFormat: "HH:mm",
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev, next today',
                        //center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    slotDuration: '00:30',
                    nowIndicator: true,
                    allDaySlot: false,
                    selectable: true,
                    eventLimit: true,
                    minTime: shifStart,
                    maxTime: shiftEnd,
                });
            };
        })
    </script>
}
