@model Shifts.Models.Shift
@Html.AntiForgeryToken();

@{
    ViewBag.Title = "Assign hour";
}

<div class="row">
    <div class="col s6">
        <label asp-for="DoctorId">Doctor</label>
        <select asp-for="DoctorId" asp-items="ViewBag.DoctorId"></select>
    </div>
    <div class="col s6">
        <label asp-for="PatientId">Patient</label>
        <select asp-for="PatientId" asp-items="ViewBag.PatientId"></select>
    </div>
</div>
<br>

<div id="ModalShift" class="modal">
    <div class="modal-content">
        <h4>Shift</h4>
        <form>
            <div>
                <label>Start</label>
                <input type="text" id="txtWorkingTimeFrom" readonly="readonly" />
            </div>
            <div>
                <label>End</label>
                <input type="text" id="txtWorkingTimeTo" readonly="readonly" />
            </div>
            <div>
                <label>Patient</label>
                <input type="text" id="txtPatient" readonly="readonly" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnDelete" class="modal-close waves-effect waves-red btn-flat">Delete</a>
        <a href="#" id="btnSave" class="modal-close waves-effect waves-green btn-flat">Save</a>
        <a href="#" id="btnClose" class="modal-close waves-effect waves-grey btn-flat">Close</a>
    </div>
</div>

<div id="HoursCalendar"></div>

<link href="~/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/fullcalendar/locale/en-gb.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            var workingTimeFrom = "";
            var workingTimeTo = "";
            var shifts = [];
            var selectedShift = [];

            GetShiftsAndUpdateCalendar($('#DoctorId').val());

            $('#DoctorId').change(function () {
                GetShiftsAndUpdateCalendar(this.value);
            });

            function GetShiftsAndUpdateCalendar(doctorId) {
                shifts = [];
                $.ajax({
                    type: 'GET',
                    url: 'Shift/GetShifts',
                    data: { 'DoctorId': doctorId },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            shifts.push({
                                shiftId: v.shiftId,
                                patientId: v.patientId,
                                doctorId: v.doctorId,
                                start: moment(v.workingTimeFrom),
                                end: v.workingTimeTo != null ? moment(v.workingTimeTo) : null,
                                patient: v.patient
                            })
                        })
                        GenerateCalendar(shifts);
                    },
                    error: function () {
                        alert('Something went wrong when try to load shifts!!');
                    }
                })
            }

            function GenerateCalendar(shifts) {
                $.ajax({
                    type: 'GET',
                    url: 'Doctor/SetWorkingTimeFrom',
                    data: { 'doctorId': $('#DoctorId').val() },
                    async: false,
                    success: function (result) {
                        workingTimeFrom = result;
                    },
                    error: function () {
                        alert('Something went wrong when load the working hour!');
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "Doctor/SetWorkingTimeTo",
                    data: { "doctorId": $('#DoctorId').val() },
                    async: false,
                    success: function (result) {
                        workingTimeTo = result;
                    },
                    error: function () {
                        alert('Something went wrong when load the working hour!');
                    }
                });

                $('#HoursCalendar').fullCalendar('destroy');

                $('#HoursCalendar').fullCalendar({
                    contentHeight: 'auto',
                    defaultDate: new Date(),
                    slotLabelFormat: 'HH:mm',
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev,next today',
                        right: 'month,agendaWeek,agendaDay',
                    },
                    slotDuration: '00:30',
                    nowIndicator: true,
                    allDaySlot: false,
                    selectable: true,
                    eventLimit: true,
                    minTime: workingTimeFrom,
                    maxTime: workingTimeTo,
                    events: shifts,
                    select: function (workingTimeFrom, workingTimeTo) {
                        selectedShift = {
                            shiftId: 0,
                            start: workingTimeFrom,
                            end: workingTimeTo
                        };
                        OpenPopup();
                    },
                    eventClick: function (clickedShift) {
                        selectedShift = clickedShift;
                        OpenPopup();
                    }
                })
            }
            function OpenPopup() {
                $('#txtWorkingTimeFrom').val(selectedShift.start.format('DD/MM/YYYY HH:mm'));
                $('#txtWorkingTimeTo').val(selectedShift.end.format('DD/MM/YYYY HH:mm'));

                if (selectedShift.shiftId == 0) {
                    $('#btnSave').show();
                    $('#btnDelete').hide();
                    $('#txtPatient').val($('#PatientId option:selected').text());
                } else {
                    $('#btnSave').hide();
                    $('#btnDelete').show();
                    $('#txtPatient').val(selectedShift.patient);
                }
                $('#ModalShift').modal('open');
            }

            $('#btnSave').click(function () {
                var shiftData = {
                    PatientId: $('#PatientId').val(),
                    DoctorId: $('#DoctorId').val(),
                    workingTimeFrom: $('#txtWorkingTimeFrom').val(),
                    workingTimeTo: $('#txtWorkingTimeTo').val(),
                }

                SaveShift(shiftData);
            });

            function SaveShift(data) {
                $.ajax({
                    type: 'POST',
                    url: 'Shift/SaveShift',
                    data: { 'shift': data },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (res) {
                        if (res.ok) {
                            GetShiftsAndUpdateCalendar($('#DoctorId').val());
                        }
                    },
                    error: function () {
                        alert('Something went wron when tried to save shift')
                    }
                })
            }

            $('btnDelete').click(function () {
                if (confirm('Are you sure you want to delete this shift?')) {
                    $.ajax({
                        type: 'POST',
                        url: 'Shift/DeleteShift',
                        data: { 'ShiftId': selectedShift.shiftId },
                        headers: {
                            'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (res) {
                            if (res.ok) {
                                GetShiftsAndUpdateCalendar($('#DoctorId').val());
                            }
                        },
                        error: function () {
                            alert('Something went wron when tried to delete shift')
                        }
                    })
                }
            })

        })
    </script>
}
