@model Shifts.Models.Login

@{
    Layout = null;
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
<script type="text/javascript" src="~/js/materialize.min.js"></script>

<div class="container">
    <h2>Create your account here</h2>
</div>