<!DOCTYPE html>

<html>
    <head>
        <title>Specialities</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>Description</tr>
            </thead>
            <tbody>
                @*Here we put the code to show the registers from DB*@
                <tr>
                    <td>
                        Traumatologist
                    </td>
                </tr>
                <tr>
                    <td>Cardiologist</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>